
 footer{
    border-top: 1px solid #e8d6cb;
    margin-top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    margin: 1.5%;
    color:black;
    font-size: 75px;
    padding:0;
    text-decoration: none;
    font-family: 'Consolas';
}
.contact-link{
    display: inline; 
    padding: 2%;
    border: 1px solid #7c3030;
    background-color: #e8d6cb;
    text-decoration: none;
    color: #7c3030;
}
.contact-link:hover > .contact { color: #e8d6cb; }

.contact-link:hover {
    background-color: #894444;
    
}

.other-card:hover, .repo-card:hover{
    transform: scale(1.05);
    box-shadow: 10px 5px 15px #572727;
    transition: transform  300ms ease-in-out, box-shadow 300ms ease-in-out;

}
.other-card:not(:hover), .repo-card:not(:hover){
    transform: scale(1.00);
    box-shadow: 0px 0px;
    transition: transform  300ms ease-in-out, box-shadow 300ms ease-in-out;

}
.description-competence{
    text-align: center;
}
.other-card, .repo-card{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; 
    border: 1px solid #894444; 
    border-radius: 20px;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5; 
    color: #7c3030;
    background-color: #e8d6cb;
    width:75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left:auto;
    margin-right: auto; 
}
.language-circle{
    width: 12px; height: 12px; border-radius: 100%; display: inline-block; top: 1px; position: relative;
}
h3{
    margin-top: 3%;
    margin-bottom:3%;
    text-align: center;
}
h2{
    margin-top: 10%;
    margin-bottom:2%;
    text-decoration: underline;
    text-align: center;
    color:#e4d5d5;
}
h1{
    margin-bottom: 15%;
    margin-top: 4%;
    text-align: center;
    
    background: -webkit-linear-gradient(#894444 50%, #9e6969);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background: rgb(232,214,203);
    background: linear-gradient(180deg, rgb(231, 202, 202) 0%, rgba(124,48,48,1) 25%); 
    color:#e8d6cb;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 20px;
}

p{ 
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;  
}
#warning{
    text-align: center;
}
#bienvenue{
    margin-bottom: 7%;
    font-size: 19px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    background: -webkit-linear-gradient(#894444 60%, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding : 3%
}
.competence{
    margin:2%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #894444;
    padding:1%;
}
.competence:hover{
    transform: scale(1.01);
    box-shadow: 10px 5px 15px #572727;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}
.competence:not(:hover){
    transform: scale(1.00);
    box-shadow: 0px 0px 0px #572727;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}
#credit{
    text-align: center;
    font-size: 20px;
}
#sommaire>a{
    text-decoration: none;
    color:#d3aaaa;
}
#sommaire{
    text-align: center;
    color:#d3aaaa;
}
html {
    scroll-behavior: smooth;
  }