footer {
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:1;
    width:100%;
 }
.contact{
    display: inline; 
    padding: 2%;
    border: 1px solid black;
    background-color: #bf031d;
}

.contact:hover {
    background-color: #ddd;
    color: black;
    }
.other-card:hover{
    background-color: #ddd;
    color: black;   
}
.other-card{
    
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; 
    border: 1px solid grey; 
    border-radius: 6px;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5; 
    color: #7c3030;
    background-color: #e8d6cb;
}
.language-circle{
    width: 12px; height: 12px; border-radius: 100%; display: inline-block; top: 1px; position: relative;
}
h3{
    margin-bottom:3%;
    text-align: center;
}
h2{
    margin-bottom:3%;

    text-align: center;
}
h1{
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: center;

}
body{
    background-color: #7c3030;
    color:#e8d6cb;
    font-family: DejaVu Sans Mono, monospace;
}
